@media screen and (min-width: 450px) {
  .about__img {
    width: 60%;
  }
  .nav__menu {
    width: var(--nav-width);
  }
}

@media screen and (min-width: 600px) {
  .about__img {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .side__email {
    display: none;
  }
  .side__nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-left: 100px;
    padding-right: 100px;
  }
  .section-title {
    margin: 0 0 var(--mb-3);
  }
  .section-title:after {
    width: 200px;
  }
  .header__area {
    background: rgba(15, 20, 34, 0.9);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .bd-grid {
    width: calc(100% - 73px);
  }
  /*== Menu Nav ==*/
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__menu {
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0;
    background: none;
    display: inline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: none;
    transition: none;
  }
  .nav__list {
    float: right;
    margin-right: 36px;
    line-height: 51px;
  }
  .nav__list li {
    display: inline;
    margin: var(--mb-1);
  }
  .nav__logo {
    margin: 0;
  }
  /*== Hero ==*/
  /*== About ==*/
  .about__container {
    -webkit-column-gap: 62px;
            column-gap: 62px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-left: 0px;
  }
  .about__img {
    width: 240px;
  }
  .about__img:before {
    height: 242px;
  }
  .about__img:after {
    height: 242px;
  }
  /*== Experience ==*/
  .tab__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tab__contents .tab {
    display: -ms-grid;
    display: grid;
  }
  .tab__contents .tab button {
    border-bottom: none;
    border-left: 2px solid var(--slate);
    text-align: left;
    font-size: var(--fz-md);
  }
  .tab__contents .tab button.active {
    border-bottom: none;
    border-left: 2px solid var(--first-color);
  }
  .tab__contents .tabcontent {
    width: 60%;
    margin-left: 34px;
  }
  /*== Works ==*/
  .works__img {
    width: 300px;
  }
  /*== Contact ==*/
}

@media screen and (min-width: 1024px) {
  .section {
    padding-left: 150px;
    padding-right: 150px;
  }
  .bd-grid {
    max-width: 1600px;
  }
  .hero__container {
    padding: 0 73px;
  }
  /*== Experience ==*/
}

@media screen and (min-width: 1248px) {
  .section {
    padding-left: 180px;
    padding-right: 180px;
  }
  /*== Experience ==*/
  .experience__container .experience__content {
    margin: 0 80px;
  }
  .tab__contents .tabcontent {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1333px) {
  .works__img {
    width: 350px;
  }
  .works__img:nth-of-type(2n+2) .works__data {
    text-align: left;
  }
  .works__data {
    top: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__container {
    padding: 0 200px;
  }
  /*== Experience ==*/
}
/*# sourceMappingURL=media.css.map */