@media screen and (min-width: 450px) {
    .about__img {
        width: 60%;
    }
    .nav__menu {
        width: var(--nav-width);
    }
}

@media screen and (min-width: 600px) {
    .about__img {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .section-title {
        margin: 0 var(--mb-5) var(--mb-3);
    }
    .section-title:after {
        width: 200px;
    }
    .nav__toggle, .nav__close {
        display: none;
    }
    .nav__menu {
        left: 0;
        top: 0;

        width: 100%;
        height: var(--header-height);
        padding: 0;
        background: none;
        display: inline;
        align-items: center;
        transition: none;
    }
    .nav__list {
        float: right;
        margin-right: 36px;
        line-height: 51px;
    }
    .nav__list li {
        display: inline;
    }
    .bd-grid {
        // margin-left: var(--mb-4);
        // margin-right: var(--mb-4);
        //  margin: 0 15px;
        width: calc(100% - 73px);
    }
    .about__container {
        grid-template-columns: repeat(2,1fr);
        // grid-template-columns: 3fr 2fr;
    }
    .about__img {
        width: 250px;
        margin: var(--mb-3) 15px ;

        &:before {
            height: 252px;
        }

        &:after {
            height: 252px;
        }
    }
}

@media screen and (min-width: 1024px) {
    
}