
/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 50px;
    --nav-width: 324px;

    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-semi-bold:600;
    --font-bold:700;

    /*===== Colors =====*/
    --bg-color: #0F1422;
    --first-color: #6F74DD;
    --second-color: #1B243F;
    --text-red: #FF0000;
    --slate: #8892b0;
    --light-slate: #ccd6f6;

    /*===== Font and Typography =====*/
    --font-monda: 'Monda', sans-serif;
    --font-fira: 'Fira Code', monospace;
    --fz-heading: 50px;
    --fz-sm-heading: 35px;
    --fz-xxl: 20px;
    --fz-xl: 18px;
    --fz-lg: 16px;
    --fz-md: 14px;
    --fz-sm: 13px;
    --fz-xs: 12px;

    /*===== Margins =====*/
    --mb-1: 8px;
    --mb-2: 16px;
    --mb-3: 24px;
    --mb-4: 32px;
    --mb-5: 40px;

    /*===== z-index =====*/
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --fz-heading: 35px;
        --fz-sm-heading: 28px;
        --fz-xxl: 18px;
        --fz-xl: 16px;
        --fz-lg: 14px;
        --fz-md: 12px;
        --fz-sm: 11px;
        --fz-xs: 10px;
    }
}

/*===== base =====*/
html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--font-monda);
    font-size: var(--fz-lg);
    font-weight: var(--font-medium);
    background-color: var(--bg-color);
    color: var(--light-slate);
    line-height: 1.6;
    counter-reset: my-item-counter section;
}
h1, h2, h3, p {
    margin: 0;
}
h3 {
    font-weight: var(--font-semi-bold);
}
a {
    color: var(--light-slate);
}
img {
    height: auto;
    display: block;
}
/*===== Class CSS =====*/
.section {
    padding: 60px 0 30px 0;
    margin: 0 auto;
}
.section-title {
    font-family: var(--font-fira);
    font-size: clamp(24px,5vw,var(--fz-heading));
    font-weight: var(--font-bold);
    color: var(--slate);
    margin: 0 var(--mb-2) var(--mb-3);
    // text-align: center;
    display: flex;
    align-items: center;
    white-space: nowrap; 
}
.section-title:before {
    position: relative;
    bottom: 0;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: var(--mb-1);
    color: var(--first-color);
    font-size: clamp(22px,3vw,var(--fz-sm-heading));
    font-weight: var(--font-semi-bold);
}
.section-title:after {
    content: "";
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 1px;
    margin-left: var(--mb-1);
    background-color: var(--slate);
}
.p-description {
    margin: 0 0 var(--mb-2);
    // text-align: justify;
}
/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 32px;
    width: calc(100% - 32px);
    // margin-left: var(--mb-2);
    // margin-right: var(--mb-2);
    margin: 0 auto;
}
.header__area {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--bg-color);
    box-shadow: 0 10px 30px -10px #000000;
    // backdrop-filter: blur(10px);

    display: block;
    transition: top 0.3s;
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 0 var(--mb-1)
}
.nav__logo img{
    width: 35px;
    height: 30px;
    margin: 0 var(--mb-1) 0 0;
}
.nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    height: 635px;
    padding: 48px;
    display: flex;
    align-items: center;
    background-color: var(--second-color);
    transition: .5s;
}
.nav__close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
}
.nav__item {
    margin: 0 0 var(--mb-3);
}
.nav__link {
    // font-size: var(--fz-lg);
    transition: .3s;
}
.nav__link:hover {
    background-color: var(--bg-color);
}
.nav__toggle {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    margin: 0px 16px;
}
.nav__list li a:before{
    counter-increment: my-item-counter 1;
    content: "0" counter(my-item-counter) ".";
    color: var(--first-color);
    margin-right: var(--mb-1);
}
.btn-resume {
    border: 1px solid var(--first-color);
    padding: var(--mb-1) var(--mb-2);
    border-radius: 5px;
}
// box icons minor changes
.bx {
    line-height: 2;
}
/*=== Show Menu ===*/
.show {
    right: 0;
}
/*=== Active Menu ===*/
.active {
    // background-color: var(--bg-color);
    color: var(--first-color);
}

/*===== HERO =====*/
.hero__container {
    height: calc(440px - var(--header-height));
    align-items: center;
}
.hero__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}
.hero__title {
    font-size: clamp(40px, 8vw, 70px);
    text-transform: uppercase;
    font-weight: var(--font-bold);
    margin: 0 0 var(--mb-2) 0;
}
.hero__title span {
    color: var(--text-red);
    text-decoration: underline;
}
.hero__profession {
    font-size: clamp(40px, 8vw, 70px);
    font-weight: var(--font-bold);
    line-height: 1.2;
}
.hero__profession span {
    color: var(--text-red);
    text-decoration: underline;
}

/*===== ABOUT =====*/
.about__container {
    // row-gap: 32px;
    row-gap: 25px;
}
.about__img {
    // max-width: 230px;
    // width: calc(100% - 32px);
    width: 68%;
    // width: 230px;
    // height: 230px;
    margin: 0 auto var(--mb-5) auto;
    position: relative;
}
.about__img img {
    border-radius: 50%;
    overflow: hidden;
}
.about__img:before {
    // border: 3px solid var(--first-color);
    background: rgba(111,116,221,.65);
    top: 0;
    left: 0;
    z-index: 0;
}
.about__img:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.about__img:after {
    border: 2px solid var(--first-color);
    top: 12px;
    left: 25px;
    z-index: -1;
}
.about__img:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.about__content {
    text-align: justify;
}
.skill__set {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0px;
    margin: var(--mb-3) 0 0;
    overflow: hidden;
    list-style: none;
}
.skill__set li {
    position: relative;
    margin: 0 0 var(--mb-1);
    padding-left: 25px;
    font-family: var(--font-fira);
    font-size: var(--fz-sm);

    
}
.skill__set li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(254,167,175,1) 0%, rgba(234,71,172,1) 100%);
    position: absolute;
    top: 5px;
    left: 5px;
}

/*===== EXPERIENCE =====*/
.experience__container {
    row-gap: 25px;
}

  /* Style the tab */
.tab {
    display: flex;
    overflow-x: auto;
    margin-bottom: var(--mb-3);
    margin-right: -15px;
}
  /* Style the buttons inside the tab */
.tab button {
    background-color: var(--bg-color);
    color: var(--light-slate);
    // float: left;
    border: none;
    border-bottom: 2px solid var(--slate);
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    font-family: var(--font-fira);
    font-size: var(--fz-sm);
    white-space: nowrap;
}
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--second-color);
    color: var(--first-color);
    border-bottom: 2px solid var(--first-color);
    font-weight: var(--font-bold);
}
  /* Create an active/current tablink class */
.tab button.active {
    background-color: var(--second-color);
    color: var(--first-color);
    border-bottom: 2px solid var(--first-color);
    font-weight: var(--font-bold);
}
  /* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
  /* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tabcontent h3 {
    font-size: var(--fz-xxl);
}
.tabcontent h3 span {
    color: var(--first-color);
}
.tabcontent small {
    margin: var(--mb-1) 0 var(--mb-2);
    font-family: var(--font-fira);
    font-size: var(--fz-sm);
    display: block;
}
.tabcontent p {
    position: relative;
    margin: 0 0 var(--mb-1) var(--mb-2);
    // font-size: var(--fz-lg);
}
.tabcontent p:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(254,167,175,1) 0%, rgba(234,71,172,1) 100%);
    position: absolute;
    top: 10px;
    left: -15px;
}

/*===== WORKS =====*/
.works__container {
    row-gap: 25px;
    // justify-items: center;
}
.works__img {
    position: relative;
    width: 80%;
    // margin: 0 0 var(--mb-3);
    margin: 0 auto var(--mb-5);
}
.works__img img {
    border-radius: 50%;
    overflow: hidden;
}
.works__img:after {
    top: 0px;
    left: 0px;
    z-index: 1;
}
.works__img:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(15, 20, 34,.94);
}
.works__data {
    position: absolute;
    top: 18px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    // margin: var(--mb-4);
}
.works__data small {
    font-family: var(--font-fira);
    font-size: var(--fz-sm);
    color: var(--first-color);
}
.works__data h3 {
    font-size: var(--fz-xxl);
    margin: 0 0 var(--mb-2) 0;
}
.works__techset {
    display: flex;
    flex-wrap: wrap;
}
.works__techset li {
    font-family: var(--font-fira);
    font-size: var(--fz-sm);
    margin: 0 var(--mb-1) var(--mb-2) 0;
}
.project__links {
    font-size: 25px;
    margin-left: -10px;
}
.project__links a{
    padding: 0 5px;
}

.works__img:nth-of-type(2n+2) .works__data {
    text-align: right;

    .works__techset {
        justify-content: flex-end;

        li:last-child {
            margin-right: 0;
        }
    }
}

/*===== WORKS =====*/
.contact__container {
    row-gap: 25px;
}
.contact__form {
    background: rgba( 255, 255, 255, 0.1 );
    // box-shadow: 0 8px 32px 0 rgba(203, 205, 224, 0.2);
    box-shadow: 0 1px 4px 0 rgba(203, 205, 224, 0.2);
    backdrop-filter: blur( -6.0px );
    -webkit-backdrop-filter: blur( -6.0px );
    border: 1px solid rgba(111, 116, 221, .3);
    border-radius: 10px;
    padding: 25px 20px;
    position: relative;
    margin: 0 0 var(--mb-3);
    
    &:before {
        content: url(../images/backgrounds/waveTopCut.png);
        display: block;
        position: absolute;
        top: 0;
        right: -16px;
        z-index: -1;
    }

    .p-description {
        text-align: center;
    }
}
.contact__inputs {
    margin: var(--mb-5) 0 0;
    
    ::placeholder {
        text-transform: uppercase;
        color: var(--light-slate);
    }

    textarea {
        resize: none;
        color: var(--light-slate);
        height: 70px;
        font-size: var(--fz-lg);
    }
    input {
        color: var(--light-slate);
    }
    .contact__button {
        color: var(--first-color);
        border: 1px solid var(--first-color);
        border-radius: 50%;
        font-size: var(--fz-lg);
        background: none;
        width: 65px;
        height: 65px;
        margin: var(--mb-4) auto;
        display: block;
        font-weight: var(--font-semi-bold);
        transition: all .6s ease;
    }
    .contact__button:hover {
        background: var(--first-color);
        color: var(--light-slate);
    }
}
.contact__input {
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 var(--mb-2);
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid var(--slate);
}

/*===== FOOTER =====*/
.footer__area {
    text-align: center;
    min-height: 120px;
}
.footer__social {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 16px;
    // transition: all .6s ease;
}
.footer__link {
    padding: 0 5px;

    :hover {
        color: var(--first-color);
        transform: rotate(360deg);
        transition: all .8s ease;
    }
}

/*===== SIDES =====*/
/*== Email ==*/
.side__email {
    position: fixed;
    bottom: 0;
    left: 35px;
    z-index: 99;
    color: var(--light-slate);

    // writing-mode: vertical-rl;

    .side__content {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        // position: relative;
        
        &:after {
            content: "";
            width: 1px;
            height: 90px;
            // margin: 0px auto;
            background: var(--light-slate);
            position: relative; 
            left: -2px;
        }

        a {
            margin: 20px auto;
            padding: 10px;
            font-family: var(--font-mono);
            font-size: var(--fz-xxs);
            letter-spacing: 3px;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
        }
    }  
}
/*== Navigation ==*/
.side__nav {
    position: fixed;
    top: 50%;
    right: 95px;

    .side__content {
        position: absolute;
        transform: translateY(-50%);
 
        ul {
            padding-left: 50px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: calc(100% - 40px);
                left: 40px;
                top: 0;
                background: var(--light-slate);
                z-index: -1;
                margin-top: 20px;
            }

            li {
                padding: 15px 0;
                padding-left: 20px;

                a {
                    position: relative;
                    
                    &::before {
                        content: ""; 
                        position: absolute;
                        background: var(--bg-color);
                        width: 18px;
                        height: 18px;
                        left: -38px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 50px;
                        border: 1px solid var(--light-slate);
                        transition: background .3s;
                    }

                    &.active {
                        &::before {
                            background: var(--light-slate);
                        }
                    }

                    // span {
                    //     display: none;
                    // }
                }
            }
        }
    }
}